body {
  color: #fff;
  background-color: #65a1d3;
}

button {
  color: black;
  background-color: #4f8bf9;
}

.css-j8zjtb {
text-align: center
}

.css-1aumxhk {
background-color: #9eba52;
background-image: none;
color: #ffffff;
width: 200px;
}

.css-2trqyj {
color: black;
background-color: #9eba52;
text-align: center;
margin-left: 35px
width = 60px;
}

.css-5h0m38 {
margin-left: 80px;
}

.css-tsy3mu.e19lei0e1 {
margin-left: 80px;
}
